html {
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background: #4a18ff;  
  color: black;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body{
  margin: 0;
  margin: 0;
  width: 100vw;
}

.container {
  width: 80vw;
  margin: 0px auto;
  display: flex;
  flex-direction: column;  
  align-items: center;
}

.wrapper {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.29);
  border-radius: 10px;
  width: 90vw;
}

a {
  color: black;
  text-decoration: none;  
}

.wrapper--algorithms {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: white;
  box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.29);
  border-radius: 10px;
  width: 30vw;
}

p {
  margin: 0;
}